body {
    background: #141414;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background: #111;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #E50914;
}


h1{
    color: #E50914;
    font-family: Impact, Bebas Neue,sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
}

h2{
    color: #E50914;
}

h4{
    color:#E50914
}


main {
    display: grid;
    gap: 30px;
}



