 body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: Impact, Bebas Neue,sans-serif;
    color: #E50914;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
}

.card {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    border-left: 4px solid #E50914;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    font-size: 14px;
}

.year {
    color: #ffffff;
    font-weight: bold;
}

footer a{
    position: relative;
    top: 50px;
    color: #ffffff;
}